[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/miniz"]
	path = third_party/miniz
	url = https://github.com/richgel999/miniz
[submodule "third_party/libarchive"]
	path = third_party/libarchive
	url = https://github.com/libarchive/libarchive
[submodule "third_party/baojiaozi"]
	path = third_party/baojiaozi
	url = file:///Users/beiklive/Code/C++/developing/JiaoZi_dev/Baojiaozi
